/*Leider funktioniert das bei mir mit der graphischen Umsetzung bei den Lufttemperaturen noch nicht so, wie es soll. Über einen Verbesserungsvorschlag wäre ich daher
sehr dankbar. Unten gibt es auch einen Versuch, den ich "rauskommentiert habe.*/

h2 {
    text-align: center;
}

h2 {
    text-align: center;
}

#map {
    width: 90vw;
    height: 90vh;
    border: solid black 1px;
    margin: auto;
}

.snow-label,
.wind-label,
.temp.label {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow:
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white;
}

.snow-100,
.wind-10,
.temp.neg {
    background-color: blue;
}

.snow-200,
.wind-20,
.temp-pos {
    background-color: red;
}

/* .temp-neg {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0,3em;
    border: 1px solid black;
    background-color: blue;
    text-shadow:
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white;  
} */

/* .temp-pos {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0,3em;
    border: 1px solid black;
    background-color: red;
    text-shadow:
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white;  
}  */